@import "tailwindcss";
@import "uniwind";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(0 0% 26%);
  --color-input: hsl(0 0% 19%);
  --color-ring: hsl(0 0% 64%);
  --color-background: hsl(0 0% 10%);
  --color-foreground: hsl(0 0% 95%);
  --color-primary: hsl(0 0% 95%);
  --color-primary-foreground: hsl(0 0% 10%);
  --color-secondary: hsl(0 0% 19%);
  --color-secondary-foreground: hsl(0 0% 95%);
  --color-destructive: hsl(0 74% 59%);
  --color-destructive-foreground: hsl(0 0% 100%);
  --color-muted: hsl(0 0% 21%);
  --color-muted-foreground: hsl(0 0% 60%);
  --color-accent: hsl(0 0% 23%);
  --color-accent-foreground: hsl(0 0% 95%);
  --color-popover: hsl(0 0% 16%);
  --color-popover-foreground: hsl(0 0% 95%);
  --color-card: hsl(0 0% 16%);
  --color-card-foreground: hsl(0 0% 95%);
  --radius-lg: 0.625rem;
  --radius-md: calc(0.625rem - 2px);
  --radius-sm: calc(0.625rem - 4px);
  --font-sans: Geist;
  --font-mono: GeistMono;
}

:root {
  --font-display:
    Geist, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-display-medium:
    Geist-Medium, Geist, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-display-semibold:
    Geist-SemiBold, Geist, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-display-bold:
    Geist-Bold, Geist, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    GeistMono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  --font-mono-medium:
    GeistMono-Medium, GeistMono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  --font-rounded: Geist, Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: Geist, Inter, ui-sans-serif, system-ui, sans-serif;

  --radius: 0.625rem;
}
